.tutorial {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	text-align: justify;
	width: 800px;	
	margin-left: auto;
	margin-right: auto;
	line-height: 160%;
}
.tutorial a:link {
	color:green;
}
.tutorial a:visited {
	color:green;
}
sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}
sub { top: 0.4em; }

.contents h3 {
	font-weight:bold;
	font-style: normal;	
}
.contents ul {
	list-style-type:none;
}
.contents ul a:link {
	color:black;
}
.contents ul a:visited {
	color:black;
}
	
.tutorial pre {
	line-height: 120%;
}
p.important {
	margin-left: 30px;
	margin-right: 30px;
}
code {
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
}
.snip {
	background-color:#efefef;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	left:33px;
	width:92%;
	position:relative;
	margin-bottom: 3px;
}
.snip p {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-right: 10px;
	padding-bottom: 5px;
}
.snip .foo:cpp {
	color:red;
}
table.center {
	margin-left:auto;
	margin-right:auto;
}
.blockquote {
	background-color:#F8F8F8;
	left: 40px;
	width: 90%;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	text-align:right;
	position:relative;
	font-style: italic;
}
.blockquote .cap {
	margin-right: 60px;
	font-weight: normal;
	text-align: right;
}
.inlineindent {
	margin-left: 35px;	
}.cap {
	text-align: center;
	margin-top: 3px;
	font-weight: bold;
}
.figure {
	text-align: center;
	margin: 5px;
	margin-bottom: 0px;
	padding-top: 15px;
}
ul {
	text-align: left;
}
#navouter ul {
	list-style-type: none;
	font-weight:normal;
	/*padding-left: 0px;*/
}
#navouter {
	padding-left: 0px;
	font-weight:bold;
	list-style-type: none;
}
nav #navcurrent {
	color:#9A9A9A;
	font-style:italic	
}
h2, h3, h4, h5, h6 {
	font-style:italic;	
}
rightpadding {
	padding: 0 0 0 15px;	
}
.idiom p {
	margin-right: 30px;
	text-align:left;
	color:black;
	font-weight: normal;
}
.idiom {
	color: #090;
	font-style: normal;
	font-weight: bold;
}
.red {
	color: #900;
	font-weight: bold;
}
.green {
	color: #090;
	font-weight: bold;
}
.blue {
	color: #009;
	font-weight: bold;
}
.purple {
	color: purple;
	font-weight: bold;	
}
.orange {
	color: orange;
	font-weight: bold;	
}
.black { 
	color: black;
	font-weight: bold;
}
ol {
	text-align:left;
	margin-right:30px;
}
ul {
	text-align:left;
	margin-right:30px;
}

.toclist {
	font-family: Verdana, sans-serif;
}
.toclist ul, .toclist li {
	display: inline;
	font-weight: bold;
	padding: 0;
}
.toclist li {
	float: left;
	width: 33.33%;	
}
.tocprev {
	text-align: left;
}
.tocmiddle {
	text-align: center;
}
.tocnext {
	text-align: right;
}
.copyright {
	text-align: center;
}
.copyright p {
	margin-top: 0px;
	margin-bottom: 2px;
}